.studentList {
  padding: 16px 80px;

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    display: flex !important;
    align-items: center;
  }

  button {
    &__label {
      margin: 0 6px;
    }
  }

  .list {
    margin-top: 24px;
    width: 100%;
    &__header {
      margin-bottom: 8px;
      font-size: 0.9em;
      display: grid;
      grid-template-columns: 2fr 1fr 2fr 1fr 1fr 0.5fr;
    }
  }

  .headerItem {
    text-align: center;
  }
}
